@tailwind base;
@tailwind components;
@tailwind utilities;


*,
button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
}


.nav-link.inactive {
  border-bottom: 1px solid transparent;
}

.nav-link {
  border: 1px solid transparent;
  transition: border-color 0.5s, color 0.5s;
}

.nav-link.active {
  border-bottom: 1px solid black;
}

.nav-link.inactive:hover {
  color: gray;
}

.fade-in {
  animation: fadeIn 0.5s ease-in;
}

.load-in {
  animation: loadIn 2s ease-in forwards;
}

.delay-display {
  animation: delayDisplay 2.5s ease-in forwards;
}

.pulse {
  animation: pulse 2s infinite;
}

.h-nav-vh {
  height: calc(100vh - 150px);
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes loadIn {
  0% {
    display: flex;
  }
  
  100% {
    display: none;
  }
}

@keyframes delayDisplay {
  0% {
    display: none;
  }

  80% {
    opacity: 0%;
    display: block;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes pulse {
  0%, 80% {
    opacity: 1;
    transform: scale(1);
  }

  40%, 100% {
    opacity: 0.3;
    transform: scale(.9);

  }
}
